you are login as {{username}}

<nav>
    <ul>
        <li>Home</li>
        <li>Add user</li>
        <li><a href="admin/category/add">Add Category</a></li>
        <li>Add Type</li>
        <li>Add Exchange</li>
    </ul>
</nav>
