Admin users,

{{#each users as |user|}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/admin/users/{{user.username}}">
                {{user.name}}
            </a>
        </div>
        {{#if user.bio}}
            <div class="panel-body">{{user.bio}}</div>
        {{/if}}
    </div>
{{/each}}

