<span class="mdl-layout-title">Welcome {{username}}!</span>
<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">Home</a>
    <a class="mdl-navigation__link" href="/admin/users">User List</a>
    <a class="mdl-navigation__link" href="/admin/users/add">Add User</a>
    <a class="mdl-navigation__link" href="/admin/category/add">Add Category</a>
    <a class="mdl-navigation__link" href="/admin/currency/add">Add Currency</a>
    <a class="mdl-navigation__link" href="/admin/segment">Segments</a>
    <a class="mdl-navigation__link" href="/admin/exchange">Exchange</a>
    <a class="mdl-navigation__link" href="/admin/users/{{username}}/edit">Edit Profile</a>
    <a class="mdl-navigation__link" href="/admin/logout">Logout</a>
</nav>