{{messages}}
<h1>Add currency</h1>

<form action="/admin/currency/add" method="post">
    <input name="name" type="text" class="form-control" placeholder="Name" required autofocus>
    <input name="symbol" type="text" class="form-control" placeholder="symbol" required autofocus>
    <input name="thumbnail" type="text" class="form-control" placeholder="Thumnbail"  autofocus>
    <input type="submit" value="ADD Currency" class="btn btn-primary btn-block">
</form>
