{{messages}}
<h1>Add Category</h1>

<form action="/admin/category/add" method="post">
    <input name="name" type="text" class="form-control" placeholder="Name" required autofocus>
    <input name="thumbnail" type="text" class="form-control" placeholder="Thumnbail" required autofocus>
    <input type="submit" value="ADD CAT" class="btn btn-primary btn-block">
</form>
