<div class="card" *ngIf="isLoading">
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current exchnages ({{exchanges.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
      <tr>
        <th>List</th>
        <th>CreatedAt</th>
        <th>updatedAt</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="exchanges.length === 0">
      <tr>
        <td colspan="4">There are no exchanges in the DB. Add a new exchange below.</td>
      </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
      <tr *ngFor="let exchange of exchanges">
        <td>{{exchange.exchanges | json}}</td>
        <td>{{exchange.createdAt | date:"MM/dd/yy, hh:mm"}}</td>
        <td>{{exchange.updatedAt | date:"MM/dd/yy, hh:mm"}}</td>
        <td>
          <button class="btn btn-sm btn-warning" (click)="enableEditing(exchange)"><i class="fa fa-pencil"></i> Edit
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteExchange(exchange)"><i class="fa fa-trash"></i> Delete
          </button>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="isEditing">
      <tr>
        <td colspan="4">
          <form class="form-inline text-center" [formGroup]="addExchangeForm" (ngSubmit)="editExchange(currency)">
            <div formArrayName="exchanges">
              <div class="form-group"
                   *ngFor="let exchange of currency.exchanges; let i = index;">
                <div class="form-group" [formGroupName]="i">
                  <div class="form-group" [formGroupName]="lists[i]">
                    <h3>{{exchange | getObjectKey}}</h3>
                    <input class="form-control" type="number" formControlName="buy"
                           [(ngModel)]="exchange[lists[i]]['buy']" min="0">
                    <input class="form-control" type="number" formControlName="sell"
                           [(ngModel)]="exchange[lists[i]]['sell']" min="0">
                  </div>
                </div>

              </div>
            </div>
            <br>
            <button class="btn btn-sm btn-primary" type="submit" [disabled]="!addExchangeForm.valid"><i
              class="fa fa-floppy-o"></i> Save
            </button>
          </form>
          {{addExchangeForm.value | json }}
          <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new exchange</h4>
  <div class="card-block">
    <form class="form-inline text-center" [formGroup]="addExchangeForm" (ngSubmit)="addExchange()">
      <div formArrayName="exchanges">
        <div class="form-group"
             *ngFor="let exchange of addExchangeForm.controls.exchanges.controls; let i = index;">

          <div class="form-group" [formGroupName]="i">
            <div class="form-group" [formGroupName]="lists[i]">
              <h3>{{lists[i]}}</h3>
              <input class="form-control" type="number" formControlName="buy" placeholder="buy" min="0">
              <input class="form-control" type="number" formControlName="sell" placeholder="sell" min="0">
            </div>
          </div>

        </div>
      </div>
      <br>
      <button class="btn btn-primary" type="submit" [disabled]="!addExchangeForm.valid"><i class="fa fa-floppy-o"></i>
        Add
      </button>
    </form>
    {{ addExchangeForm.value | json }}
  </div>
</div>
